In [166]:
import pandas as pd
import numpy as np

In [167]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [168]:
data.shape

(48842, 15)

In [169]:
from sklearn.linear_model import LogisticRegression

In [312]:
data1 = data[['age', 'education', 'capital-gain', 'capital-loss', 'hours-per-week', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income']]

In [313]:
X = pd.get_dummies(data1, columns = ['education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country' ])

del X['income']
X.head()

,age,capital-gain,capital-loss,hours-per-week,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,0,0,40,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,0,0,50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,0,0,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,7688,0,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,18,0,0,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [314]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [315]:
le.fit(data['income'])

LabelEncoder()

In [316]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [317]:
y = pd.Series(data = le.transform(data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [318]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [319]:
model = LogisticRegression()

In [320]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

/home/kande/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [321]:
from sklearn.metrics import classification_report
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.93      0.91      3713
           1       0.74      0.62      0.68      1172

    accuracy                           0.86      4885
   macro avg       0.81      0.78      0.79      4885
weighted avg       0.85      0.86      0.85      4885

In [322]:
y_pred_proba = model.predict_proba(X_test).tolist()

In [323]:
y_pred_proba[0]

[0.9929224037655576, 0.0070775962344423555]

In [333]:
threshold = 0.4
y_pred_2 = [1 if y[1] > threshold else 0 for y in y_pred_proba]
print (classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.91      0.90      0.91      3713
           1       0.70      0.71      0.70      1172

    accuracy                           0.86      4885
   macro avg       0.80      0.81      0.80      4885
weighted avg       0.86      0.86      0.86      4885

In [ ]:
# я убрал workclass и fnlwgt, так как без них метрика F1 выше

# при значении threshold=0.4 метрики тоже выше